@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Playfair Display", serif;

  --color-primary: #1A1A1A;
  --color-primary-light: #2A2A2A;

  --color-secondary: #FCFCFA;
  --color-secondary-dark: #F0EFEA;

  --color-accent: #D4AF37;
  --color-accent-hover: #B8962E;

  --color-supporting: #A89F91;
  --color-supporting-dark: #8A8174;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
